
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: darkred">Ordinance Management</h1>

<a class="btn btn-success" asp-area="" asp-controller="Ordinance" asp-action="AddOrdinance">Create New Ordinance</a>

<p style="font-size: 16px">
    Ne kete faqe (page) do te mundeni te regjistroni ordinancen.

    Per kete ju duhet te klikoni ne linkun <a class="btn btn-success" asp-area="">Add Ordinance</a>
</p>

