
@{
    ViewData["Title"] = "Sporteli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: darkred">Sporteli i Mjekesise Ligjore</h1>


<a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Register">User Management</a>

<a class="btn btn-success" asp-area="" asp-controller="Doctor" asp-action="Index">Doctor Management</a>

<a class="btn btn-success" asp-area="" asp-controller="Infermier" asp-action="Index">Infermier Management</a>
