
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: darkred">Sistemi per menaxhimin e ordinancave</h1>

<p style="font-size: 16px">
    Sistemi per menaxhimin e ordinancave eshte sistem i cili mundeson menaxhimin e ordinancave...
</p>

<a class="btn btn-success" asp-controller="Ordinance" asp-action="Index">Ordinanca</a>